<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="cl.blog.dao.BlogMapper">
	
	<select id="findBlogById" parameterType="Integer" resultType="cl.blog.entity.Blog">
		select * from blog where id = #{id}
	</select>
	
	<insert id="save" parameterType="cl.blog.entity.Blog">
		insert into blog (title,summary,releaseDate,clickHit,replyHit,content,keyword,img,blogType)
		values(#{title},#{summary},#{releaseDate},#{clickHit},#{replyHit},#{content},#{keyword},#{img},#{blogType.id})
	</insert>
	
	
	<select id="findBlogType" resultType="cl.blog.entity.BlogType">
		select * from blogType
	</select>
	
	
	<select id="findAll" resultMap="blogListMap">
		select * from blog b,blogType bt where b.blogType = bt.id;
	</select>
	
	
	<resultMap type="cl.blog.entity.Blog" id="blogListMap">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="summary" property="summary"/>
		<result column="releaseDate" property="releaseDate"/>
		<result column="clickHit" property="clickHit"/>
		<result column="replyHit" property="replyHit"/>
		<result column="content" property="content"/>
		<result column="keyword" property="keyword"/>
		<result column="img" property="img"/>
		<association property="blogType" javaType="cl.blog.entity.BlogType">
			<id column="blogType" property="id"/>
			<result column="typeName" property="typeName"/>
			<result column="orderNum" property="orderNum"/>
		</association>
	</resultMap>


</mapper>