<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="cl.blog.dao.BlogMapper">
	
	<select id="findBlogById" parameterType="Integer" resultType="cl.blog.entity.Blog">
		select * from blog where id = #{id}
	</select>
	
	<insert id="save" parameterType="cl.blog.entity.Blog">
		insert into blog ()
	</insert>
	
	
	


</mapper>